// main: ../style.scss


.navbar-brand {
    color: #ffffff;
    font-family: 'Motserrat-SemiBold', sans-serif;
    font-size: 23px;
    span {
        color: #ffe400;
        font-size: 18px;
        letter-spacing: 0.1em;
    }
    &:hover {
        opacity: .7;
    }
    
}
@media (max-width: 375px) {
    .navbar-brand {
        font-size: 20px;
        span {
            font-size: 16px;
        }
    } 
}
@media (max-width: 320px) {
    .navbar-brand {
        font-size: 16px;
        span {
            font-size: 14px;
        }
    } 
    
}
