// main: ../style.scss

.offer {
    background: url(../img/bg1.jpg) no-repeat center;
    height: 100vh;
    display: flex;
    align-items: center;

    position: relative;
    p {
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    
        margin: 44px 0;
    }
}

@media (max-width: 760px) {
    .offer {
        
        p {
            font-size: 16px;
        
            margin: 34px 20px;
        }
    }
}
@media (max-width: 414px) {
    .offer {
        p {
            margin: 144px 40px;
            font-size: 20px;
        }
    }
}
@media (max-width: 375px) {
    .offer {
        p {
            margin: 124px 40px;
            font-size: 20px;
        }
    }
}
@media (max-width: 320px) {
    .offer {
        p {
            margin: 64px 40px;
            font-size: 14px;
        }
    }
}