// compress: true

@font-face {
    font-family: 'Montserrat-Medium';
    src: url("assets/fonts/Montserrat-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Motserrat-SemiBold';
    src: url("assets/fonts/Montserrat-SemiBold.ttf");
    font-style: normal;
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat-Medium', sans-serif;
}

button:focus, input:focus, textarea:focus, a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    max-width: 100%;
    min-height: 100%;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

a, :before, :after, input, button {
    transition: .2s;
}
section {
    padding: 100px 0;
}

@import "blocks/title.scss";
@import "blocks/header.scss";
@import "blocks/navbar-brand.scss";
@import "blocks/nav-item.scss";
@import "blocks/navcall.scss";
@import "blocks/offer.scss";
@import "blocks/main-btn.scss";
@import "blocks/arrow-bottom.scss";
@import "blocks/travel.scss";
@import "blocks/feedback.scss";
@import "blocks/block-subtitle.scss";
@import "blocks/form.scss";
@import "blocks/input.scss";
@import "blocks/faq.scss";
@import "blocks/contact.scss";
@import "blocks/cv.scss";
@import "blocks/works.scss";
